# ---- Node ----
node_modules
.next
dist
build
out
coverage
*.log
.env
.env.*
pnpm-lock.yaml

# ---- Python ----
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/
.env/
build/
dist/
.eggs/
*.egg-info/
*.manifest
*.spec

# ---- OS ----
.DS_Store
Thumbs.db

# ---- IDE ----
.vscode/
.idea/
